{% extends "base.html" %}
{% import "display_notes.html" as display %}

{% block title %}NoteHub - {{ username }}{% endblock %}

{% block page_content %}
<h3>{{ username }}'s HomePage</h3>
<div class="note-tabs">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#own" data-toggle="tab">Notes</a></li>
      <li><a href="#star" data-toggle="tab">Stars</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="own">{{ display.display(notes, moment) }}</div>
      <div class="tab-pane fade" id="star">{{ display.display(star_notes, moment) }}</div>
    </div>
</div>
{% endblock %}
